@import "tailwindcss";

@theme {
  --font-sans: "Jost", sans-serif;
  --color-primary: #1A3263;
  --color-secondary: #CB942F;
}

/* FullCalendar: permitir salto solo en el título */
.fc-event-time {
  white-space: nowrap !important;
  font-weight: 600;
  text-transform: uppercase;
}

.fc-event-title {
  white-space: normal !important;
  display: inline;
}

.fc-event {
  align-items: flex-start;
}

/* Quitar el punto (dot) de los eventos en FullCalendar */
.fc-daygrid-event-dot {
  display: none;
}

/* Agregar guion entre hora y título */
.fc-event-time::after {
  content: " - ";
}

/* Quitar fondo azul default de FullCalendar */
.fc-timegrid-event {
  background: transparent !important;
  border: none !important;
}

/* Opcional: también en vista mes */
.fc-daygrid-event {
  background: transparent !important;
  border: none !important;
}

.tooltip {
  @apply
    absolute bottom-full left-1/2 -translate-x-1/2 mb-2
    bg-gray-900 text-white text-xs
    px-2 py-1 rounded
    whitespace-nowrap
    opacity-0 group-hover:opacity-100
    transition
    pointer-events-none
    z-50;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

@keyframes logoFadeScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-logo {
  animation: logoFadeScale 1.2s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

.animate-delay-1 {
  animation-delay: 0.3s;
}

.animate-delay-2 {
  animation-delay: 0.6s;
}

.animate-delay-3 {
  animation-delay: 0.9s;
}

/* Fade up elegante */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
}

/* delays escalonados */
.delay-1 { animation-delay: .1s; }
.delay-2 { animation-delay: .2s; }
.delay-3 { animation-delay: .3s; }
.delay-4 { animation-delay: .4s; }
.delay-5 { animation-delay: .5s; }
.delay-6 { animation-delay: .6s; }