@import "tailwindcss";

@theme {
  --font-sans: "Jost", sans-serif;
  --color-primary: #1A3263;
  --color-secondary: #CB942F;
}

/* FullCalendar: permitir salto solo en el título */
.fc-event-time {
  white-space: nowrap !important;
  font-weight: 600;
  text-transform: uppercase;
}

.fc-event-title {
  white-space: normal !important;
  display: inline;
}

.fc-event {
  align-items: flex-start;
}

/* Quitar el punto (dot) de los eventos en FullCalendar */
.fc-daygrid-event-dot {
  display: none;
}

/* Agregar guion entre hora y título */
.fc-event-time::after {
  content: " - ";
}

.tooltip {
  @apply
    absolute bottom-full left-1/2 -translate-x-1/2 mb-2
    bg-gray-900 text-white text-xs
    px-2 py-1 rounded
    whitespace-nowrap
    opacity-0 group-hover:opacity-100
    transition
    pointer-events-none
    z-50;
}